---
import Section from "./Section.astro";
---

<Section dark={true}>
  <footer>
    <div class="icons-container">
      <a href="mailto:sachinkm308@gmail.com"
        ><img src="/images/icons/email.svg" alt="icon for email" /></a
      >
      <a
        href="https://github.com/sachinkmohan"
        target="_blank"
        rel="noopener noreferrer"
        ><img src="/images/icons/github.svg" alt="icon for github" /></a
      >
      <a
        href="https://www.linkedin.com/in/sachinkm308/"
        target="_blank"
        rel="noopener noreferrer"
        ><img src="/images/icons/linkedin.svg" alt="icon for linkedin" /></a
      >
      <a
        href="https://x.com/sachinkmohan"
        target="_blank"
        rel="noopener noreferrer"
        ><img src="/images/icons/x.svg" alt="icon for x" /></a
      >
      <a
        href="https://www.youtube.com/@sachinkmohan"
        target="_blank"
        rel="noopener noreferrer"
        ><img
          class="scale-75"
          src="/images/icons/yt.png"
          alt="icon for youtube"
        /></a
      >
    </div>
    <p class="rights-text">Copyright © 2025 Sachin. All rights reserved</p>
    <p class="credit-text">Images: Flaticon.com</p>
  </footer>
</Section>

<style>
  footer {
    display: flex;
    align-items: center;
    flex-direction: column;

    .icons-container {
      display: flex;
      gap: 20px;
      margin-bottom: 20px;
      align-items: center;
    }

    .credit-text {
      color: var(--light);
      margin-top: 8px;
      font-size: 14px;
    }

    @media screen and (max-width: 500px) {
      .icons-container {
        gap: 16px;
      }
    }
  }
</style>
